@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Outfit:wght@100..900&family=Prata&family=Sansita+Swashed:wght@300..900&display=swap');

@import 'tailwindcss';
* {
  font-family: Epilogue;
}

html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-40% - 4rem));
  }
}

.scroller[data-animated='true'] .scroller-inner {
  animation: scroll 20s linear infinite;
}

.animate-scroll-slow-reverse {
  animation: scroll 60s linear infinite reverse;
}
